/* root */
@font-face {
    font-family: 'minecraft-font';
    src: url('https://youngpaxo.github.io/main/assets/font/Minecraft-Regular.otf') format('opentype');
}

/* Font general para el cuerpo del documento */
body {
    font-family: 'minecraft-font', sans-serif;
    background-color: #ff0000;
    color: #333;
    touch-action: manipulation;
    height: 100vh;
    width: 100%;
    user-select: none;
}

#hud {
    background-image: url('/main/assets/gui/bg-plains.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Estilos para el clickerzone */
#clickerzone {
    margin: 20px;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
    cursor: pointer;
    /* Cambia el cursor para indicar que es interactivo */
    transition: transform 0.1s ease;
}

#clickerzone.clicked {
    transform: scale(0.95);
}

/* Estilos para el clicker */
#clicker img {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

/* Estilos para el contenedor de la barra de experiencia */
.experience-bar-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    width: 85%;
    max-height: 170px;
    /* Establece la altura máxima en 170px */
}

.xp-image {
    image-rendering: pixelated;
}

/* Estilos para la imagen de fondo */
.experience-bar-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra completamente el contenedor */
}

/* Estilos para la barra de progreso */
.experience-bar-progress {
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    overflow: hidden;
    /* Importante para ocultar el exceso de la imagen de progreso */
}

/* Estilos para la imagen dentro de la barra de progreso */
.experience-bar-progress img {
    image-rendering: pixelated;
    height: 100%;
    /* Mantiene la altura original */
    width: auto;
    /* Mantiene el ancho original */
    display: block;
    /* Elimina cualquier espacio extra debajo de la imagen */
}

/* Estilos para el indicador de nivel */
.level-indicator {
    font-size: 19px;
    color: #8bca59;
    /* Color del texto */
    position: absolute;
    top: -15px;
    /* Ajusta según la ubicación deseada */
    left: 50%;
    font-weight: bold;
    /* Borde de texto simulado con sombra de texto */
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* hotbar */
#hotbar {
    position: absolute;
    width: 50%;
    max-height: 170px;
    margin: 0 auto;
    /* Para centrar horizontalmente el contenedor */
    bottom: -25px;
    left: 0;
    right: 0;
}

#hotbar img {
    image-rendering: pixelated;
    width: 100%;
    height: auto;
    cursor: pointer;
}








@media screen and (max-width: 767px) {

    /* Aquí puedes definir los estilos específicos para pantallas pequeñas */
    body {}

    #hud {
        /* Estilos para el HUD en pantallas pequeñas */
        background-image: url('/main/assets/gui/bg-plains.png');
        /* Cambia la imagen de fondo, si es necesario */
    }

    #clickerzone {
        /* Estilos para el clickerzone en pantallas pequeñas */
        width: 200px;
        /* Cambia el ancho, si es necesario */
        height: 200px;
        /* Cambia la altura, si es necesario */
    }

    /* Agrega más estilos según tus necesidades */
}