/* root */
@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('/font/Minecraft-Regular.otf') format('truetype');
}

/* Font general para el cuerpo del documento */
body {
    font-family: 'MiFuentePersonalizada', sans-serif;
    background-color: #eaeaea;
    /* Color de fondo suave */
    color: #333;
    /* Color de texto para una buena legibilidad */
}

/* Estilos para el contenedor de la barra de experiencia */
.experience-bar-container {
    margin: 0 auto;
    /* Centrar div */
    display: flex;
    justify-content: center;
    /* Centrar imagen */
    position: relative;
    width: 546px;
    /* Ajustar según tu imagen de fondo */
    height: 15px;
    /* Ajustar según tu imagen de fondo */
}

/* Estilos para la imagen de fondo */
.experience-bar-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra completamente el contenedor */
}

/* Estilos para la barra de progreso */
.experience-bar-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    /* Inicialmente no se muestra nada, se actualizará con JS */
    height: 100%;
    overflow: hidden;
    /* Importante para ocultar el exceso de la imagen de progreso */
}

/* Estilos para la imagen dentro de la barra de progreso */
.experience-bar-progress img {
    height: 100%;
    /* Mantiene la altura original */
    width: auto;
    /* Mantiene el ancho original */
    display: block;
    /* Elimina cualquier espacio extra debajo de la imagen */
}

/* Estilos para el indicador de nivel */
.level-indicator {
    font-size: 19px;
    color: #76a351;
    /* Color del texto */
    position: absolute;
    top: -15px;
    /* Ajusta según la ubicación deseada */
    left: 50%;
    font-weight: bold;
    /* Borde de texto simulado con sombra de texto */
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* Estilos para el clickerzone */
#clickerzone {
    margin: 20px;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
    cursor: pointer;
    /* Cambia el cursor para indicar que es interactivo */
    transition: transform 0.1s ease;
}

#clickerzone.clicked {
    transform: scale(0.95);
    /* Efecto de escala al hacer clic */
}

/* Estilos para el clicker */
#clicker img {
    width: 100%;
    /* Asegura que la imagen se ajuste al contenedor */
    height: 100%;
}